@media (max-width: 1080px) {
  .gallery-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 20px;
  
  box-shadow: -1px 3px 20px #a9a9a9;
}
}

.gallery-image {
  width: 210px;
  height: 210px;
  object-fit: cover;
  border-radius: 20px;
  
  box-shadow: -1px 3px 20px #a9a9a9;
}

@media only screen and (min-width: 1920px) {
  .gallery-image {
    width: 300px;
    height: 300px;
  }
}