.gallery {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  gap: 20px;
  padding: 0.5em;
  width: 1200px;
}

.placeholder {
  grid-column-start: 2;
  grid-column-end: 5;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.placeholder-icon {
  font-size: 3.5em;
}

.container.images-field {
  margin-top: 50px;
}
