<h2>Filter</h2>
<form [formGroup]="filtersForm">
  <div class="filter-breed">
    <mat-checkbox formControlName="hasBreed">Has Breed</mat-checkbox>
    <mat-form-field class="mat-input-container mat-form-field breed"
      ><mat-label>By Breed</mat-label>
      <mat-select
        placeholder="Breeds"
        formControlName="breeds"
        multiple
        [disabled]="!this.filtersForm.controls['hasBreed'].value"
      >
        <mat-option [value]="'all'">All</mat-option>
        <mat-option
          [disabled]="this.filtersForm.controls['breeds'].value[0] === 'all'"
          *ngFor="let breed of breedList"
          [value]="breed.id"
          >{{ breed.name }}</mat-option
        >
      </mat-select>
    </mat-form-field>
  </div>

  <mat-form-field class="mat-input-container mat-form-field quantity"
    ><mat-label>By Request Quantity</mat-label>
    <mat-select placeholder="Quantity" formControlName="quantity">
      <mat-option *ngFor="let number of quantityCount" [value]="number">{{
        number
      }}</mat-option>
    </mat-select>
  </mat-form-field>
</form>
