.filter-breed {
  display: table-caption;
}

button {
  margin-left: 18%;
}

.gallery {
  margin-left: 22%;
}

.filter {
  float: left;
  position: relative;
  width: 20%;
  margin-left: 20px;
}

mat-paginator {
  margin-left: 25%;
  margin-top: 30px;
  position: absolute;
}
